p {
    font-size: 18px;
}

#gst {
	background-color:  #637a91;
	height: 100px;
	text-align: center;
	vertical-align: center;
	line-height: 200px;
    height: 200px;
}

.container {
    background-color: #f1f1f1;
    padding: 20px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}


.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}


.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

#ft {
	background-color: #5fcf80;
}
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
div.wrapper{
	margin-top: 10px;
}
