p {
    font-size: 18px;
}

#gst {
	background-color:  #637a91;
	height: 100px;
	text-align: center;
	vertical-align: center;
}

 .container {
             margin: 70px;
             border: 1px solid #637a91;
	
}


#ft {
	background-color: #5fcf80;
}
